[Unit]
Description=Janusec Application Gateway
Documentation=http://www.janusec.com/
After=network.target
After=postgresql.service
 
[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/local/janusec/janusec >> /usr/local/janusec/log/error.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target

