[Unit]
Description=Janusec Application Gateway
Documentation=http://www.janusec.com/
After=network.target
After=postgresql.service
 
[Service]
Type=simple
ExecStart=/usr/local/janusec/janusec
StandardOutput=append:/usr/local/janusec/log/error.log
StandardError=append:/usr/local/janusec/log/error.log
Restart=always
 
[Install]
WantedBy=multi-user.target

